<div class="grow mr-2 py-2">
    <label for="products-tag-filter" class="block text-sm/6 font-medium text-gray-900">Tag</label>
    <div class="mt-2 grid grid-cols-1">
        <select name="products-tag-filter" id="products-tag-filter" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 outline -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
            <option value="">Select</option>
            {% for tag in tags %}
                <option value="{{ tag }}" {% if selected == tag %} selected {% endif %}>{{ tag | capitalize }}</option>
            {% endfor %}
        </select>
        <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
    </div>
</div>