<div class="flex min-h-[840px] flex-col bg-gray-900">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 flex justify-center items-center h-screen">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="https://purplefire.io/wp-content/uploads/2022/06/logo.png" alt="PurpleFire">
        </div>
        {% block content %}{% endblock %}
    </div>
</div>

